*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
  --corFiltroAgendados: #6affb6;
  --corFiltroDisponiveis: #ff352b;
  --corFiltroPendentes: #4740ff;
  --corFiltroEmprestados: #ff2bdc;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-color: #242529;
}
.aside{
    height: 100vh;
    width: 20vw;
    box-shadow: 0px 3px 3px #fff;
    display: flex;
    flex-direction: column;
}
/* PARTE SUPERIOR ASIDE */
.aside .parteSuperior{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.divImgLogo{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgLogo{
    height: 100px;
    width: 100px;
}
.divPerfil{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
    color: #fff;

}
.imgPerfil{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.divContent{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 20%;
}
.divContent .btnMain{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    color: rgb(48, 49, 51);
    background-color: #242529;
    color: #fff;
}
.divContent .btnMain h5{
 font-size: larger;
 font-weight: 700;
}
.parteSuperior .icon{
    width: 10%;
    height: 80%;
    color: black;
}
/* PARTE INFERIOR ASIDE */

.parteInferior{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
    width: 100%;
    
}

/* PARTE MAIN */
.main{
    width: 80%;
    height: 100vh;
}
/* MAIN INICIO */
.mainInicio{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5%;
    gap: 3%;

}
.mainInicioSuperior{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: larger;
    
}

.add {
    background-color: #05704F;
    color: #fff;
    width: 15%;
    height: 60%;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: large;
}
.mainInicioCenter{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    color: #fff;
    
}
.mainInicioCenter .balao{
    border: solid 2px black;
    height: 70%;
    width: 25%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border: none;
}

#balao1{
    background-color: #05704F;
}
#balao2{
    background-color: #36383E;
}
#balao3{
    background-color: #fff;
    color: black;
}

.pp{
    font-size: 5rem;
}
.mainInicioInferior{
    width: 100%;
    height: 50%;
    
}
.mainInicioInferior .notePad{
    height: 80%;
    width: 100%;
    border-radius: 20px;
}



.mainHistorico{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5%;
    gap: 3%;
}

.mainHistoricoSuperior{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 height: 10%;
 width: 100%;
 color: #fff;
}
.mainHistoricoCenter{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 height: 10%;
 width: 100%;
 color: #fff;
}
.mainHistoricoInferior{ 
 height: 80%;
 width: 100%;
}
#corFiltroAgendado{
 background: var(--corFiltroAgendados);
 width: 100%;
 height: 4px;
}

#corFiltroTotal{
 background: var(--corFiltroDisponiveis);
 width: 100%;
 height: 4px;
}
#corFiltroPendente{
 background: var(--corFiltroPendentes);
 width: 100%;
 height: 4px;
}
#corFiltroEmprestado{
 background: var(--corFiltroEmprestados);
 width: 100%;
 height: 4px;
}

#themeSwitcher {
    width: 6rem;
    height: 3rem;
    background-color: #05704F;
    border-radius: 13px;
    border: none;
    color: #fff;
    cursor: pointer;
}



@media screen and (max-width: 600px){
 .container{
  display: flex;
  flex-direction: column;
 }
 .aside{
  width: 100%;
  height: 20%;
 }
 .main{
  width: 100%;
  height: 80%;
 }
}
