*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   .livroUni{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 15%;
    background: #242529;
   }
   .livro{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background: white;
    
   }
   .filtro{
    background: red;
    width: 7%;
    height: 100%;
    border-radius: 20px 0 0 20px;
   }
   .info{
    display: flex;
    flex-direction: row;
    width: 93%;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
   }
   .livroShow{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* height: 100%;
    width: 100%;
    */ 
   }
   #search{
       height: 55%;
       width: 40%;
       border: none;
       border-radius: 15px;
       box-shadow: 0 0 5px rgb(180, 180, 190);
   }
.mainHistoricoSuperior h2{
    font-size: 2em;
    font-weight: 700;
}