<form action="/add-emprestimo" method="post">
    Livro: <input type="text" name="livro"> <br>
    Tombo: <input type="text" name="tombo"> <br>
    Aluno: <input type="text" name="aluno"> <br>
    Curso: <input type="text" name="curso"> <br>
    Série: <input type="text" name="serie"> <br>
    <button type="submit">Enviar</button>
</form>